<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button [routerLink]="['/']" class="btn btn-link">На головну</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>10.11.23</small>
  </div>
  <div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi cum sunt error ea accusamus! Qui distinctio blanditiis quas, similique sequi sapiente minima velit inventore fugiat autem dolorum nobis excepturi sunt, ipsam quae, aspernatur quia magni praesentium optio dicta aperiam! Iste ea neque dignissimos ipsam nam saepe aspernatur similique ab accusantium.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi cum sunt error ea accusamus! Qui distinctio blanditiis quas, similique sequi sapiente minima velit inventore fugiat autem dolorum nobis excepturi sunt, ipsam quae, aspernatur quia magni praesentium optio dicta aperiam! Iste ea neque dignissimos ipsam nam saepe aspernatur similique ab accusantium.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi cum sunt error ea accusamus! Qui distinctio blanditiis quas, similique sequi sapiente minima velit inventore fugiat autem dolorum nobis excepturi sunt, ipsam quae, aspernatur quia magni praesentium optio dicta aperiam! Iste ea neque dignissimos ipsam nam saepe aspernatur similique ab accusantium.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi cum sunt error ea accusamus! Qui distinctio blanditiis quas, similique sequi sapiente minima velit inventore fugiat autem dolorum nobis excepturi sunt, ipsam quae, aspernatur quia magni praesentium optio dicta aperiam! Iste ea neque dignissimos ipsam nam saepe aspernatur similique ab accusantium.</p>
  </div>
</div>
